* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
/* *********************************** menu navigation ***************************************** */


.nav {
  font-size: 130%;
  text-align: center;
}
.menu_burger {
  display: flex;
  justify-content: space-between;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 3%;
  font-size: 80%;
  color: white;
}
.titrePartie {
  margin: 2%;
  margin-top: 5%;
  border-style: double;
}
.divHeader {
  background-color: #000000;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../img/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  color: #ffffff;
  padding: 1em;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.sousDivHeader {
  margin: 3%;
  text-align: left;
}
/* *********************************************************************************************************** */
.patesPart,
.dessertPart,
.poissonPart,
.pouletPart {
  display: flex;
  justify-content: space-between;
  
}

p {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.delicePoulet {
  background-color: #9abcf3;
  margin: 0%;
  padding: 3%;
  display: flex;
  flex-wrap: wrap;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.delicePates {
  background-color: #9abcf3;
  margin: 0%;
  padding: 3%;
  display: flex;
  flex-wrap: wrap;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.pates {
  margin : 5%;
}
.poulet {
  margin: 5%;
}
.delicePoissons {
  background-color: #9abcf3;
  margin: 0%;
  padding: 3%;
  display: flex;
  flex-wrap: wrap;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.poisson {
  margin: 5%;
}
.dessert {
  margin :5%;
}

.footerPizza {
  display: flex;
  justify-content: space-around;
}

.footPates {
  display: flex;
  justify-content: space-around;
}

.aProposDe {
  background-color: #222831;
  padding: 3%;
  display: block;
}

footer {
  margin-top: 5%;
}
