*{
    box-sizing: border-box;
    margin: 0%; 
}
/* +++++++++++++++++++++++++++++++++++++++ DEBUT CSS PAGE INDEX.HTML +++++++++++++++++++++++++++++++++++++++++++ */
main
{
    background-color: #e88a16;
}
.nav {

   font-size: 130%;
    text-align: center;
    border: solid 1px black;
}
.menu_burger {
  
   display: flex;
   justify-content: space-between;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   margin: 3%;
   font-size: 80%;

}
.titre {
    width: 50%;
    text-align:center;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sousDivHeader {
margin: 5%;
    text-align:left;
}

.divHeader {
    background-color: #000000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/hero-bg.jpg);
    background-position: top;
    background-size: cover;
    color: #ffffff;
    padding: 0.5rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

.imgHeader{

    width: 90%;
}
.divPromo {
    
    margin: 5%;
    padding: 3%;
    
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    flex-wrap:nowrap;
    font-size: 110%;
  }

.imgJournePizza {
    border-radius: 50%;
    width: 100%;
    align-content: center ;
   
}

.footer {
    display: block;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-content: center;
  }
  input[type="text"],
  input[type="password"],
  input[type="submit"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
  }
  input[type="submit"] {
    background-color: #e88a16;
    color: white;
    border: none;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #e88a16;
  }

  label {

    display: block;
    
  }
  form {
    text-align: center;
    margin-left: 15%;
  }
/* +++++++++++++++++++++++++++++++++++++++++++++ FIN CSS PAGE INDEX.HTML ++++++++++++++++++++++++++++++++++++++++++++++ */

